@use "../style/partials/mixin" as *;
@use "../style/partials/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;    
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    color: $btn-text;
    background-color: $btn-bg;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        opacity: 70%;
    }
}
