@use "../style/partials/mixin" as *;
@use "../style/partials/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #232323;
}

.container {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;    
}

.container-m {
    width: 65%;
    max-width: 1400px;
    margin: 0 auto;    
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    color: $btn-text;
    background-color: $btn-bg;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        background-color: $title-color; 
    }
}

.btn-light {
    color: $btn-bg;
    background-color: $btn-bg-light;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        background-color: $btn-bg;
        color: $btn-text;
    }

}

.shadow {
    filter: drop-shadow(10px 10px 15px rgba(0,0,0, 0.5));
}